{% set products = products_by_taxon_slug('mis-en-avant', app.request.locale) %}

<h2 class="ui center aligned huge header">{{ 'sylius.ui.front.title'|trans }}</h2>
<h3 class="ui aligned header">
  <span class="front-desc mobile-only toggle-desc">
    <span class="desc-short">
      {{ 'sylius.ui.front.description'|trans|slice(0, 90) ~ '…' }}
      <button type="button" class="desc-toggle-show ui tiny basic button">[+]</button>
    </span>
    <span class="desc-full" style="display: none;">
      {{ 'sylius.ui.front.description'|trans }}
      <button type="button" class="desc-toggle-hide ui tiny basic button">[–]</button>
    </span>
  </span>

  <span class="front-desc desktop-only">
    {{ 'sylius.ui.front.description'|trans }}
  </span>
</h3>




<div class="ui hidden divider"></div>

{# {{ dump(products) }}
{{dump(app.request.locale)}} #}



{% if products is not empty %}
    {% include '@SyliusShop/Homepage/_list.html.twig' %}
{% else %}
    <div class="ui info message">
        <div class="header">{{ 'sylius.ui.no_featured_products'|trans }}</div>
        <p>{{ 'sylius.ui.please_check_back_later'|trans }}</p>
    </div>
{% endif %}

