<div class="four wide column">
    <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
    <div class="ui inverted link list">
        <a href="/{{ app.request.locale }}/a-propos-de-nous" class="item">{{ 'sylius.ui.about'|trans }}</a>
        <a href="/{{ app.request.locale }}/termes-et-conditions" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
        <a href="/{{ app.request.locale }}/politique-de-confidentialite" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
        <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans }}</a>
    </div>
</div>
