{% extends '@SyliusAdmin/Layout/layout.html.twig' %}

{% block title %} | Sylius{% endblock %}

{% block stylesheets %}
    {{ sylius_template_event('sylius.admin.layout.stylesheets') }}
{% endblock %}

{% block flash_messages %}
    {% include '@SyliusAdmin/_flashes.html.twig' %}
{% endblock %}

{% block topbar %}
    {{ sylius_template_event('sylius.admin.layout.topbar_left') }}

    <div class="ui left floated dividing empty item"></div>

    {{ sylius_template_event('sylius.admin.layout.topbar_middle') }}

    <div class="ui right floated dividing empty item"></div>

    {{ sylius_template_event('sylius.admin.layout.topbar_right') }}
{% endblock %}

{% block sidebar %}
    {{ sylius_template_event('sylius.admin.layout.sidebar') }}
{% endblock %}

{% block footer %}
{{ 'sylius.ui.powered_by'|trans }} <a href="https://sylius.com" target="_blank">Sylius v{{ sylius_meta.version }}</a>. {{ 'sylius.ui.see_issue'|trans }}? <a href="https://github.com/Sylius/Sylius/issues" target="_blank">{{ 'sylius.ui.report_it'|trans }}!</a>
{% endblock %}

{% block javascripts %}
    {{ sylius_template_event('sylius.admin.layout.javascripts') }}
{% endblock %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const containers = document.querySelectorAll('.toggle-desc');

    containers.forEach(function (container) {
      const shortEl = container.querySelector('.desc-short');
      const fullEl = container.querySelector('.desc-full');
      const showBtn = container.querySelector('.desc-toggle-show');
      const hideBtn = container.querySelector('.desc-toggle-hide');

      if (showBtn && hideBtn && shortEl && fullEl) {
        showBtn.addEventListener('click', function (e) {
          e.preventDefault();
          shortEl.style.display = 'none';
          fullEl.style.display = 'inline';
        });

        hideBtn.addEventListener('click', function (e) {
          e.preventDefault();
          fullEl.style.display = 'none';
          shortEl.style.display = 'inline';
        });
      }
    });
  });
</script>
